@model IEnumerable<CapModel.JobSeeker>
@*Main Author Name: Kulpreet Kaur
    Description of Page: Show all the job seekers *@
@{
    ViewBag.Title = "Index";
}
<div class="common-bg">
    <div class="container">
        <h2>Job Seeker</h2>


        @using (Html.BeginForm("Edit", "JobSeeker", FormMethod.Get))
        {
            <input type="submit" value="Edit Profile" class="btn btn-default" />
        }
        <br />

        @using (Html.BeginForm("Index", "JobPosting", FormMethod.Get))
        {
            <input type="submit" value="Search Jobs" class="btn btn-default" />
        }
        <br />


        @using (Html.BeginForm("Index", "Video", FormMethod.Get))
        {
            <input type="submit" value="Create Video Resume" class="btn btn-default" /> }
    </div>
</div>